/* ================================= 
  Base Styles
==================================== */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1500px;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: silver;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

.main-header {
  margin-bottom: 5px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  background-color: forestgreen;
  color: white;
  text-align: center;
  padding: 10px;
}

.menu {
  background-color: forestgreen;
  list-style-type: none;
  font-size: 14px;
}

.menu a {
  display: flex;
  text-transform: uppercase;
  font-weight: bold;
  text-align: right;
  background-color: forestgreen;
  color: white;
  padding: 10px;
}

.main-content {
  flex: 1;
}

p {
  font-size: 1.25em;
  margin-bottom: 1.5em;
}

h1 {
  font-size: 2em;
  margin-top: 0px;
}

.score-header {
  margin: 2px;
  text-align: center;
}

#score-wrapper{
 position: sticky;
 position: -webkit-sticky;
 top: 0;
 background-color: silver;
 padding: 0;
}

h2,
h3 {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

figcaption {
  padding: 0;
  margin-bottom: 20px;
}

.main-footer {
  border-top: 10px solid forestgreen;
  padding: 10px 0 10px 0;
  width: 100%;
  text-align: center;
}

.col {
  padding: 10px;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  width: 100%;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
}

button {
  font-family: inherit;
  font-size: 1.5em;
  width: 100px;
  height: 100px;
  background-color: forestgreen;
  color: white;
  border: 2px solid black;
  text-align: center;
  margin-top: 10px;
  border-radius: 50%;
}

.buttons {
  text-align: center;
  margin-top: 10px;
}

.map {
  padding: 5px;
  margin: 20px 0 10px 0;
}

.tertiary h1 {
  text-align: center;
}

.course-details {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.course-details li,
.events li {
  margin-left: 20px;
  padding: 5px;
  list-style-type: disc;
}

.detail {
  font-weight: normal;
}

input[type="number"] {
  background-color: forestgreen;
  color: white;
  width: 100px;
  margin-bottom: 20px;
}

.scoreField{
  display: inline;
  margin-left: 20px;
}


/* ================================= 
  Flexbox layout
==================================== */

.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.scoring {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 30px;
}

.scoring label {
  width: 250px;
  margin: auto;
  text-align: center;
  font-size: 1.25em;
}

.scoring button {
  font-size: 1em;
  margin-bottom: 20px
}

/* ================================= 
  Hamburger menu
==================================== */

nav {
  overflow: hidden;
  background-color: forestgreen;
  color: white;
}

nav #menu {
  display: none;
}

nav a {
  background: forestgreen;
  color: white;
  padding: 10px;
  font-size: 24px;
  text-decoration: none;
}

nav a.icon {
  background: forestgreen none repeat scroll 0% 0%;
  border-radius: 50%;
  box-shadow: 0 0 10px 0px black;
  color: white;
  opacity: 75%;
  font-size: 40px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99999;
}

.active {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  background-color: forestgreen;
  color: black;
  width: 100%;
  position: fixed;
  bottom: 0px;
  right: 0px;
}

/* ================================= 
  Selectors
==================================== */

input[type="text"],
input[type="email"] {
  background-color: white;
}

input[type="text"]:focus,
input[type="email"]:focus {
  background-color: forestgreen;
  color: white;
  border: solid 2px;
}

/* ================================= 
  Media Queries
==================================== */

/* Tablet */

@media (min-width: 769px) {
  
  .main-content,
  .col,
  .directions,
  .events,
  .gallery,
  .score {
    display: flex;
  }

  .main-content {
    flex-wrap: wrap;
  }

  .col {
    flex: 1 50%;
    flex-direction: column;
  }

  .secondary {
    order: -1;
  }

  .map {
    width: 75%;
    align-self: center;
  }

  .newsletter {
    width: 300px;
    align-self: center;
  }

}

/* Desktop */

@media (min-width: 1025px) {

  .col {
    flex-basis: 0;
  }

  .primary {
    flex-grow: 2;
  }

  a:hover {
    color: black;
  }

  .map {
    width: 40%;
  }

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: forestgreen;
    color: white;
  }
  
  nav #menu {
    display: none;
  }
  
  nav a {
    background: forestgreen;
    color: white;
    padding: 10px;
    font-size: 24px;
    text-decoration: none;
  }
  
  nav a.icon {
    border-radius: none;
    box-shadow: none;
    text-decoration: none;
    color: white;
    opacity: 100%;
    font-size: 30px;
    position: initial;
  }
  
  .active {
    position: initial;
    background-color: forestgreen;
    color: black;
  }
  
  nav .title {
    flex-grow: 1;

  }
}