/* ================================= 
  Base Styles
==================================== */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1500px;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: silver;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

.main-header {
  margin-bottom: 5px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  background-color: forestgreen;
  color: white;
  text-align: center;
  padding: 10px;
}

.menu {
  background-color: forestgreen;
  list-style-type: none;
  font-size: 14px;
}

.menu li a {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  text-align: right;
  background-color: forestgreen;
  color: white;
  padding: 10px;
}

.main-content {
  flex: 1;
}

p {
  font-size: 1.25em;
  margin-bottom: 1.5em;
}

h1 {
  font-size: 2em;
}

h2 {
<<<<<<< HEAD
  margin-bottom: 10px;
=======
  margin: 40px 0 20px 0;
>>>>>>> 5a76b5c14b008b96b5c52d5822e00f861bc57560
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

figcaption {
  padding: 0;
  margin-bottom: 20px;
}

.main-footer {
  border-top: 10px solid forestgreen;
  padding: 10px 0 10px 0;
  width: 100%;
  text-align: center;
}

.col,
.holes {
  padding: 10px;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  width: 100%;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
}

button {
  font-family: inherit;
  font-size: 1.5em;
  width: 100px;
  height: 100px;
  background-color: forestgreen;
  color: white;
  border: 2px solid black;
  text-align: center;
  margin-top: 10px;
  border-radius: 50%;
}

.buttons {
  text-align: center;
  margin-top: 10px;
}

.map {
  padding: 5px;
  margin: 20px 0 10px 0;
}

.tertiary h1 {
  text-align: center;
}

.course-details {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.course-details li,
.events li {
  margin-left: 20px;
  padding: 5px;
  list-style-type: disc;
}

.detail {
  font-weight: normal;
}

/* ================================= 
  Flexbox layout
==================================== */

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item {
  padding: 10px;
}


/* ================================= 
  Hamburger menu
==================================== */


/* ================================= 
  Selectors
==================================== */

input[type="text"],
input[type="email"] {
  background-color: white;
}

input[type="text"]:focus,
input[type="email"]:focus {
  background-color: forestgreen;
  color: white;
  border: solid 2px;
}


/* ================================= 
  Media Queries
==================================== */

/* Tablet */

@media (min-width: 769px) {
  
  .main-content,
  .col,
  .directions,
  .events,
  .gallery,
  .score {
    display: flex;
  }

  .main-content {
    flex-wrap: wrap;
  }

  .col {
    flex: 1 50%;
    flex-direction: column;
  }

  .secondary {
    order: -1;
  }

  .map {
    width: 75%;
    align-self: center;
  }

  .newsletter {
    width: 300px;
    align-self: center;
  }

}

/* Desktop */

@media (min-width: 1025px) {

  .col {
    flex-basis: 0;
  }

  .primary {
    flex-grow: 2;
  }

  .menu li a:hover {
    color: black;
    border-bottom: 1px solid black;
  }

  .map {
    width: 40%;
  }

}