/* ================================= 
  Base Styles
==================================== */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.30), rgba(255, 255, 255, 1));
    background-color: skyblue;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

.main-header {
  border-bottom: 10px solid forestgreen;
  margin-bottom: 5px;
}

.logo {
  font-size: 30px;
  font-weight: bolder;
  background-color: forestgreen;
  color: white;
  text-align: center;
  padding: 10px;
}

.menu {
  background-color: forestgreen;
  list-style-type: none;
  font-size: 14px;
}

.item a {
  text-transform: uppercase;
  font-weight: bold;
  background-color: forestgreen;
  color: white;
}

.main-content {
  flex: 1;
}

p {
  font-size: 1em;
  margin-bottom: 1.5em;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.main-footer {
  border-top: 10px solid forestgreen;
  width: 100%;
  height: 2em;
  text-align: center;
}

.col,
.holes {
  padding: 10px;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  width: 100%;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
}

button {
  font-family: inherit;
  font-size: 100%;
  width: 100px;
  background-color: forestgreen;
  color: white;  
}

.buttons {
  text-align: center;
  margin-top: 10px;
}


/* ================================= 
  Flexbox layout
==================================== */

.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.item {
  padding: 15px;
}


/* ================================= 
  Media Queries
==================================== */

/* Tablet */

@media (min-width: 769px) {
  
  .main-header,
  .menu,
  .main-content,
  .col,
  .directions,
  .events,
  .gallery {
    display: flex;
  }
  
  .main-header {
    flex-direction: column;
  }

  .main-content {
    flex-wrap: wrap;
  }

  .col {
    flex: 1 50%;
    flex-direction: column;
  }

  .secondary {
    order: -1;
  }

}

/* Desktop */

@media (min-width: 1025px){

  .menu {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .col {
    flex-basis: 0;
  }

  .primary {
    flex-grow: 2;
  }

  .item a:hover {
    background-color: black;
    color: yellow;
    text-decoration: underline;
  }

}